.banner{
    background: url('../img/reus.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.perfil {
    border-radius: 50%;
    border: #fff solid 0.5rem;
}



@media (max-width: 575.98px) { 
    .banner{
        background-position: right;
        height: 100vh;
    }
    

}


@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) { }