.banner{
    background: url('../img/header-spfc-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35vh;
}

.perfil {
    border-radius: 70% !important;
    border: #000000 solid 0.5rem;
    height: 50% !important;

}

.myName {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20%;

}

h4{
    font-weight: 500;
}

@media (max-width: 576px) { 
.banner {
        background-position: right;
        height: 100vh;
    }
}


@media (max-width: 768px) and (max-width: 1200px) { 
.banner {
        background-position: right;
        height: 100vh;
        }
    }
        
.perfil {
    height: 100%;
}

.habilidade {
    color:rgb(0, 0, 0);
    font-family: 'fantasy' sans-serif;
}

.historico {
    color:rgb(0, 0, 0);
}


@media (max-width: 992px) {  }


@media (max-width: 1200px) { }

@media (max-width: 1400px) { }